<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/partials :: head('Post')">
</head>
<body>

<nav th:include="fragments/partials :: navbar"></nav>
<header th:include="fragments/partials :: header"></header>

<!-- will see error, intelliJ cannot relate controller to the view-->

<div>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
</div>

<footer th:include="fragments/partials :: footer"></footer>
<div th:include="fragments/partials :: scripts"></div>

</body>
</html>