<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/partials :: head('Post')">
</head>
<body>

<nav th:include="fragments/partials :: navbar"></nav>

<!-- will see error, intelliJ cannot relate controller to the view-->

<div>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>

    <a th:href="@{/posts/{id}/edit(id=${post.id})}">
        <button class="btn btn-default">
            <span class="glyph glyphicon-pencil"></span>
        </button>
    </a>
    <a th:href="@{/posts/{id}/delete(id=${post.id})}">
        <button class="btn btn-default">
            <span class="glyph glyphicon-minus"></span>
        </button>
    </a>
</div>

<a href="/posts"><p><span class="glyphicon glyphicon-arrow-left"></span> Go back to posts</p></a>

<div th:include="fragments/partials :: scripts"></div>

</body>
</html>